.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 16px;
  margin-right: 16px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  font-size: 24px;
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalBody {
  margin-top: 10px;
}

.formGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.inputField {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color-black);
  background-color: #f6f5f5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.inputField:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.textDanger {
  color: #dc3545;
}

.customPhone {
  width: 100%;
  font-size: 16px;
}

.customPhone :global(.PhoneInputCountrySelect) {
  width: 100%;
  padding: 0.75rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 16px;
}

.customPhone :global(.PhoneInputCountrySelect .PhoneInputCountryIcon) {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.customPhone :global(.flag-dropdown .flag) {
  margin-right: 8px;
}

.customPhone :global(.PhoneInputCountryIcon) {
  width: 70px;
  margin-bottom: 16px;
}
.customPhone :global(.PhoneInputCountry) {
  margin-bottom: 16px;
}
.customPhone :global(.PhoneInputInput) {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color-black);
  background-color: #f6f5f5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 16px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.customPhone :global(.PhoneInputInput:focus) {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modalFooter {
  text-align: center;
}
