.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation .navLink {
  font-family: Clear Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 113.71%;
  color: var(--secondary-color);
  padding: 0 15px 15px 15px;
  white-space: nowrap;
}

.navigation .navLink.active {
  color: var(--accent-color);
}

.inSidebar .navigation {
  /* display: block; */
  flex-direction: column;
}

.inSidebar .navLink {
  padding-bottom: 24px;
}

.inSidebar .navLink.active {
}

.inSidebar .li {
  margin-bottom: 24px;
}
