.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation .navLink {
  font-family: Clear Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: var(--secondary-color);
  padding: 0 15px 15px 15px;
  white-space: nowrap;
}

.navigation .navLink.active {
  color: var(--accent-color);
}

.inSidebar .navigation {
  /* display: block; */
  flex-direction: column;
  padding-left: 21px;
  margin-bottom: auto;
}

.inSidebar .navLink {
  padding-bottom: 24px;
}

.inSidebar .li {
  margin-bottom: 24px;
}

@media (min-width: 375px) {
  .navigation .navLink {
    font-size: 24px;
    font-weight: 700;
    line-height: 113.71%;
  }
}

.inFooter .navigation {
  flex-direction: column;
}
.inFooter .navLink {
  color: var(--text-color);
  font-size: 12px;
  padding: 0;
}

@media (min-width: 1440px) {
  .inFooter .navigation {
    flex-direction: row;
  }
}
