.callbackSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
  padding: 16px;
  background: var(--lineal-gradient);
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  color: var(--text-color);
  font-weight: 500;
}

.input {
  color: var(--text-color);
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--background-color);
  border-radius: 3px;
  width: 256px;
  background: rgba(255, 255, 255, 0.18);
}

.input::placeholder {
  color: var(--text-blue-hover);
}

.errorWrapper {
  height: 40px;
}

.error {
  color: rgb(255, 178, 178);
  font-size: 14px;
  margin-top: 5px;
}

.text {
  color: var(--text-color);
  font-style: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (min-width: 375px) {
  .callbackSection {
    margin-left: 24px;
    margin-right: 24px;
    padding: 65px 24px;
  }

  .header {
    font-size: 22px;
  }

  .input {
    width: 280px;
  }

  .error {
    font-size: 18px;
  }

  .text {
    font-size: 18px;
  }

  .social {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .viberLink,
  .telegramLink,
  .whatsAppLink {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 36px;
  }

  .form {
    margin-bottom: 40px;
  }

  .label {
    font-size: 20px;
  }

  .input {
    font-size: 26px;
    width: 350px;
  }

  .error {
    font-size: 24px;
  }

  .text {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .social {
    gap: 38px;
  }

  .viberLink {
    display: none;
  }

  .telegramLink,
  .whatsAppLink {
    width: 120px;
    height: 120px;
  }

  .telegramLink,
  .whatsAppLink {
    transition: transform 0.3s ease;
  }

  .telegramLink:hover,
  .whatsAppLink:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1440px) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    gap: 56px;
  }

  .header {
    font-size: 50px;
    margin-bottom: 44px;
  }

  .label {
    font-size: 26px;
  }

  .input {
    font-size: 26px;
    /* margin-left: 16px; */
    width: 400px;
  }

  .error {
    font-size: 24px;
  }

  .text {
    font-size: 32px;
    margin-bottom: 60px;
  }
}
