.footer {
  padding-top: 16px;
  background: var(--lineal-gradient);
}

.text {
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.8px;
  padding: 1em;
}

.rotatingIcon {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkToGit {
  text-decoration: underline;
  color: var(--text-color);
}
