.footer {
  padding-top: 16px;
  background: var(--lineal-gradient);
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.logo {
  margin-bottom: 16px;
}

.text {
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.8px;
  padding: 1em;
}

.rotatingIcon {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkToGit {
  text-decoration: underline;
  color: var(--text-color);
}
