* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #3636a2;
  --secondary-color: #6c757d;
  --accent-color: #f3761b;
  --accent-hover-color: #fc9b56;
  --text-color: #ffffff;
  --text-color-black: #000000;
  --background-color: #ececec;
  --background-color-white: #ffffff;
  --box-shadow: #592a0145;
  --text-blue: rgb(30, 116, 130);
  --text-blue-hover: rgb(97, 200, 216);
  --lineal-gradient: linear-gradient(
    to left,
    rgb(51, 197, 225),
    rgb(21, 84, 92)
  );
}

body {
  color: var(--text-color-black);
  background-color: var(--background-color);
  /* background-color: var(--box-shadow); */
  font-family: Clear Sans;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  margin-block-end: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
