.promotionsMain {
  background: url("/sale1copy.jpg"), var(--lineal-gradient-white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.promotionsContent {
  padding: 20px;
  text-align: center;
}

.upcomingPromotions {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
}

.upcomingPromotions h2 {
  color: #ff6f61;
  margin-bottom: 10px;
}

.upcomingPromotions p {
  margin-bottom: 20px;
}

.upcomingPromotions a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
}

.upcomingPromotions a:hover {
  text-decoration: underline;
}

.imagePlaceholder {
  margin-top: 20px;
}

.imagePlaceholder img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
